/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

.pure-g {
    /* Use flexbox when possible to avoid `letter-spacing` side-effects. */
    display: flex;
    flex-flow: row wrap;

    /* Prevents distributing space between rows */
    align-content: flex-start;
}
